RPC_URL=https://sepolia.infura.io/v3/your_project_id
PRIVATE_KEY=your_test_wallet_private_key

TRANSACTION_LEDGER_ADDRESS=0xYourTransactionLedgerAddress
CERTIFICATE_ADDRESS=0x3DCa45584025Ede440e0F8F84e10c85B83434173
CERTIFICATE_TOKEN_URI=https://raw.githubusercontent.com/Goder-0/dlab-blockchain/teacher/certificate_metadata.json
